<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>慧云360网络科技</title>
<meta name="keywords" content="">
<meta name="description" content="">
<script type="text/javascript" src="__JS__/jquery1.42.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />

</head>
<body>
<div class="header w_100 ">
	<div class="header_top w_1000 d_center">
    	<div class="top_left d_left">欢迎访问慧云360网络科技！<img src="__STATIC__/img/tel.gif"/> 服务热线：<span class="f_16">17009181983</span></div>
        <div class="top_right d_right">
        	<a  href='#' onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.huiyun360.com');">设为首页</a> 
            <a target=_top href="JavaScript:window.external.addFavorite('http://www.huiyun360.com','慧云360网络科技');">收藏本站</a> 
            <a href="">网站地图</a>
        </div>
        
    </div>
    <div class="header_nav w_1000 d_center">
    	<div class="logo"><img src="__STATIC__/img/logo.png" /></div>
    	<div class="navbar">
    		<ul id="nav" class="nav clearfix">
				<li class="nLi">
					<h3><a href="http://www.SuperSlide2.com" target="_blank">首页</a></h3>
				</li>
				<li class="nLi">
						<h3><a href="http://www.SuperSlide2.com" target="_blank">新闻</a></h3>
						<ul class="sub">
							<li><a href="#">新闻首页</a></li>
							<li><a href="#">新闻人物</a></li>
							<li><a href="#">新闻电视</a></li>
							<li><a href="#">新闻图片</a></li>
							<li><a href="#">新闻视频</a></li>
							<li><a href="# ">新闻专题</a></li>
						</ul>
				</li>
				<li class="nLi">
						<h3><a href="http://www.SuperSlide2.com" target="_blank">预告片</a></h3>
						<ul class="sub">
							<li><a href="#">新闻首页</a></li>
							<li><a href="#">新闻人物</a></li>
							<li><a href="#">新闻电视</a></li>
							<li><a href="#">新闻图片</a></li>
							<li><a href="#">新闻视频</a></li>
							<li><a href="# ">新闻专题</a></li>
						</ul>
				</li>
				<li class="nLi ">
						<h3><a href="http://www.SuperSlide2.com" target="_blank">影评</a></h3>
						<ul class="sub">
							<li><a href="#">新闻首页</a></li>
							<li><a href="#">新闻人物</a></li>
							<li><a href="#">新闻电视</a></li>
							<li><a href="#">新闻图片</a></li>
							<li><a href="#">新闻视频</a></li>
							<li><a href="# ">新闻专题</a></li>
						</ul>
				</li>
				<li class="nLi">
						<h3><a href="http://www.SuperSlide2.com" target="_blank">资料库</a></h3>
						<ul class="sub">
							<li><a href="#">新闻首页</a></li>
							<li><a href="#">新闻人物</a></li>
							<li><a href="#">新闻电视</a></li>
							<li><a href="#">新闻图片</a></li>
							<li><a href="#">新闻视频</a></li>
							<li><a href="# ">新闻专题</a></li>
						</ul>
				</li>
			</ul>
			<script type="text/javascript">jQuery("#nav").slide({ type:"menu", titCell:".nLi", targetCell:".sub",effect:"slideDown",defaultPlay:false,easing:"easeOutElastic"});</script>
					

    	</div>
    </div>
</div>

<div class="banner w_100"></div>
<div class="content w_100"></div>
<div class="footer w_100"></div>
</body>
</html>
