<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="keywords" content="">
<meta name="description" content="">
<script type="text/javascript" src="__JS__/"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />

</head>
<body>
<div class="header w_100 ">
	<div class="header_top w_1000 d_center">
    	<div class="top_left d_left">欢迎访问慧云360网络科技！<img src="__STATIC__/img/tel.gif"/> 服务热线：<span class="f_16">17009181983</span></div>
        <div class="top_right d_right">
        	<a  href='#' onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.huiyun360.com');">设为首页</a> 
            <a target=_top href="JavaScript:window.external.addFavorite('http://www.huiyun360.com','慧云360网络科技');">收藏本站</a> 
            <a href="">网站地图</a>
        </div>
    </div>
    <div class="header_nav w_1000">
    </div>
</div>
<div class="banner w_100"></div>
<div class="content w_100"></div>
<div class="footer w_100"></div>
</body>
</html>
